<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="config_base_path" default="$(find pal_navigation_cfg_omni_base)"/>
  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner"  default="teb"/>
  <arg name="public_sim"     default="false"/>
  <arg name="subtype"        default="custom"/>
  <arg name="rgbd_sensors"   default="false"/>

  <!-- Navigation -->
  <include file="$(find pal_navigation_cfg_omni_base)/launch/move_base.launch">
    <arg name="config_base_path" value="$(arg config_base_path)"/>
    <arg name="global_planner"   value="$(arg global_planner)"/>
    <arg name="local_planner"    value="$(arg local_planner)"/>
    <arg name="public_sim"       value="$(arg public_sim)"/>
  </include>

</launch>
